*{
    margin: 10px;
    padding: 0;
    
    text-align: center;
    
}
body{
    padding: 20px;
    border: solid black;
    /* width: 70%; */
    background-color: bisque;
   /* height: 100%; */
}
button{
    background-color: rgb(123, 239, 239);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}
select{
    background-color: rgb(156, 156, 194);
}
